{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Samprathi Saree Collection</h2>

<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

                <img src="{{ product.image.url }}" class="card-img-top" height="300" style="object-fit:cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">₹{{ product.price }}</p>
                    <p class="card-text">{{ product.description }}</p>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}